<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow-1-strong">
  <div class="container-fluid">
    <a class="navbar-brand logo-font" style="font-weight: bolder;" routerLink="/">ALL ABOUT SPACE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="launches"
          >Launches</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="astronauts"
          >Astronauts</a
        >
      </div>
    </div>
  </div>
</nav>
