<div class="card shadow w-100">
    <span
      class="placeholder placeholder-glow placeholder-sm col-12 rounded custom-placeholder-height"
    ></span>

    <div class="card-body">
      <p class="placeholder-glow">
        <span class="placeholder placeholder-sm col-12"></span>
      </p>
      <p class="placeholder-glow">
        <span class="placeholder placeholder-sm col-8"></span>
        <span class="placeholder placeholder-sm col-8"></span>
        <span class="placeholder placeholder-sm col-8"></span>
      </p>
    </div>
  </div>