<app-common-layout-with-projections>
  <ng-container content>
    <div class="row">
      <div class="col fw-bold text-uppercase h6">
        Previous launches 
      </div>
    </div>
    <div class="row m-md-1 mb-1">
      <div class="col">
        <app-search-filters></app-search-filters>
      </div>
    </div>
    <div class="row"></div>
  </ng-container>
  <ng-container side>
    <app-quick-links [disableSearchlaunches]="true"></app-quick-links>
  </ng-container>
</app-common-layout-with-projections>
