.scroll {
  overflow: auto;
  white-space: nowrap;
}

.btn-check:checked + .btn {
  background-color: #ffc107 !important;
  color: black !important;
  font-weight: bolder;
  border-color: #ffc107 !important;
}

.btn-check + .btn {
  background-color: transparent !important;
  color: white !important;
  font-weight: lighter;
  border-color: white !important;
}

.form-check.form-switch{
  margin-top: 35px !important;
  margin-left: 10px !important;
}