<div style="position: fixed; bottom: 40px; right: 30px; z-index: 1000">
  <div ngbDropdown placement="top-end" class="d-inline-block">
    <button
      type="button"
      class="btn btn-warning rounded"
      id="dropdownBasic2"
      ngbDropdownToggle
      style="font-size: 20px"
    >
      <ng-icon
        style="display: inline"
        class="fw-bolder"
        name="iconoirLink"
      ></ng-icon>
    </button>
    <div
      ngbDropdownMenu
      class="text-uppercase"
      aria-labelledby="dropdownBasic2"
      style="font-size: 95%"
    >
      @if(!disableUpcoming){
      <a [routerLink]="['/launches', 'upcoming']" ngbDropdownItem
        >Upcoming Launches</a
      >} @if(!disablePrevious){
      <a [routerLink]="['/launches', 'previous']" ngbDropdownItem
        >Previous Launches</a
      >} @if(!disableAstronauts){
      <a [routerLink]="['/astronauts']" ngbDropdownItem>Astronauts</a>
      } @if(!disableAstronauts){
      <a [routerLink]="['/astronauts']" ngbDropdownItem>Search launches</a>
      }
    </div>
  </div>
</div>
