<div class="row pt-3">
  <div class="col text-uppercase text-warning">
    <h6>Upcoming Launches</h6>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
    <div class="row">

      @if(launchList.length >0){ @for(item of launchList;track item.id ){
      <div class="col-12 p-2 my-1 shadow bg-body-tertiary rounded">
        <div class="row g-1">
          <div class="col-4">
            <img
              class="rounded w-100"
              [src]="item.image"
              [alt]="item.name"
              style="height: 45vh; object-fit: cover; object-position: center"
            />
          </div>
          <div class="col-8 px-4">
            <h6>{{ item.name }}</h6>
            <hr />
            <section style="font-size: 85%">
              <span
                class="badge"
                [class]="['text-bg-' + getStatusColor(item.status.abbrev)]"
                >{{ item.status.name }}</span
              >
              <div class="pt-2">
                <b>Agency : </b> {{ item.lsp_name | emptyText }}
              </div>
              <div class="pt-2">
                <b>Location : </b> {{ item.location | emptyText }}
              </div>
              <div class="pt-2">
                <b>Orbit : </b> {{ item.orbit | emptyText }}
              </div>r
              <div class="pt-2">
                <b>NET : </b> {{ item.net| emptyText }}
              </div>
              <div class="d-grid gap-2 pt-4">
                <button class="btn btn-sm btn-outline-light" type="button">
                  For  details
                </button>
              </div>
            </section>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3"></div>
</div>
