/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: logo-font;
  src: url("./assets/fonts/Meteoric-light.otf") format("truetype");
}

body {
  font-family: logo-font;
  
}
