/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: logo-font;
  src: url("./assets/fonts/Meteoric-light.otf") format("truetype");
}

.logo-font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: logo-font !important;
}

body {
  font-family: logo-font;
  font-optical-sizing: auto;
}
