<div class="row">
  <div class="col-lg-9 d-flex justify-content-center">
    <ul class="nav nav-underline text-uppercase logo-font pb-2" style="font-size: 85%;">
      <li class="nav-item">
        <a
          class="nav-link"
          style="color: white"
          aria-current="page"
          [routerLink]="['/launches', 'upcoming']"
          routerLinkActive="active text-warning"
          >Upcoming Launches</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="color: white"
          [routerLink]="['/launches', 'previous']"
          routerLinkActive="active text-warning"
          >Previous Launches</a
        >
      </li>
    </ul>
  </div>
  <div class="pt-2 col-lg-9 d-flex justify-content-center">
    <app-pagination
      [totalItemsCount]="totalItemCount"
      (pageChangeEvent)="onPageChangeEvent($event)"
      [disablePagination]="disablePagination"
      [pageSize]="pageLimit"
    ></app-pagination>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
    <div class="row">
      @if(launchList$ | async ; as launchList){ @for(item of
      launchList.results;track item.id ){
      <div class="col-12 p-2 my-1 shadow bg-body-tertiary rounded">
        <div class="row g-1">
          <div class="col-4">
            <img
              class="rounded w-100"
              [src]="item.image"
              [alt]="item.name"
              style="height: 45vh; object-fit: cover; object-position: center"
            />
          </div>
          <div class="col-8 px-4">
            <h6>{{ item.name }}</h6>
            <hr />
            <section style="font-size: 85%">
              <span
                class="badge"
                [class]="['text-bg-' + getStatusColor(item.status.abbrev)]"
                >{{ item.status.name }}</span
              >
              <div class="pt-2">
                <b>Agency : </b> {{ item.lsp_name | emptyText }}
              </div>
              <div class="pt-2">
                <b>Location : </b> {{ item.location | emptyText }}
              </div>
              <div class="pt-2">
                <b>Orbit : </b> {{ item.orbit | emptyText }}
              </div>
              <div class="pt-2"><b>NET : </b> {{ item.net | emptyText }}</div>
              <div class="d-grid gap-2 pt-4">
                <a
                  [routerLink]="['/launches', 'details', item.slug]"
                  class="btn btn-sm btn-outline-light"
                  type="button"
                >
                  More details
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
      } } @else{ @for(placeholder of [1,2];track $index){
      <div class="col-12 p-2 my-1 shadow bg-body-tertiary rounded">
        <div class="row g-1">
          <div class="col-4">
            <p class="placeholder-glow">
              <span
                class="placeholder placeholder-sm col-12 rounded"
                style="height: 33vh"
              ></span>
            </p>
          </div>
          <div class="col-8 px-3">
            <p class="placeholder-glow">
              <span class="placeholder placeholder-sm col-12"></span>
            </p>
            <p class="placeholder-glow">
              <span class="placeholder placeholder-sm col-8"></span>
              <span class="placeholder placeholder-sm col-8"></span>
              <span class="placeholder placeholder-sm col-8"></span>
            </p>
            <a
              class="btn btn-sm btn-outline-light disabled placeholder col-4"
              aria-disabled="true"
            ></a>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3"></div>
</div>

<div class="row">
  <div class="pt-2 col-lg-9 d-flex justify-content-center">
    <app-pagination
      [totalItemsCount]="totalItemCount"
      (pageChangeEvent)="onPageChangeEvent($event)"
      [disablePagination]="disablePagination"
      [pageSize]="pageLimit"
    ></app-pagination>
  </div>
</div>
